.mainClass {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    background-color: black;
  }
  
  .mainClass div {
    flex: 1; /* Each div takes equal space */
    margin: 10px; /* Adjust spacing between divs */
    text-align: center; /* Center-align content within div */
  }
  
  .mainClass img {
    max-width: 100%;
    height: auto;
    padding-top: 5px;
    margin-top: 15%;
    transition: transform 0.3s ease; /* Smooth transition for transform property */
  }
  
  .mainClass img:hover {
    transform: scale(1.1); /* Scale the image by 10% on hover */
  }
  
  